body {
  background-color: black;
  color: white;
  margin-top: 0px;
}

header {
  border-bottom: 1px solid white;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100px;
}

header nav {
  font-size: 20px;
  color: white;
}

header img {
  width: 150px;
  height: auto;
}

header a {
  color: white;
}

#dopepics {
  padding-top: 100px;
  text-align: center;
  border-bottom: 1px solid white;
  height: 400px;
}

.images {
  display: flex;
  justify-content: center;
}

section img {
  height: 250px;
  width: auto;
  display: block;
  margin: 20px 20px;
}

#calc{
  padding-top: 100px;
  text-align: center;
  border-bottom: 1px solid white;
  height: 400px;
}

.images {
  display: flex;
  justify-content: center;
}

section img {
  height: 250px;
  width: auto;
  display: block;
  margin: 20px 20px;
}

#positivity{
  padding-top: 100px;
  text-align: center;
  border-bottom: 1px solid white;
  height: 400px;
}

.images {
  display: flex;
  justify-content: center;
}

section img {
  height: 250px;
  width: auto;
  display: block;
  margin: 20px 20px;
}

.image span {
  font-weight: bold;
}
